name: npm Package Deploy

on:
  workflow_call:
    secrets:
      MS_TEAMS_URL:
        required: false
      GH_DEPLOY_TOKEN:
        required: true
      NPM_ORG_OGS_GMBH_CI:
        required: true
      FONTAWESOME_REGISTRY_AUTH_TOKEN:
        required: false
    inputs:
      release_please_config_file:
        type: string
        required: true
      release_please_manifest_file:
        type: string
        required: true
      release_please_target_branch:
        type: string
        required: true

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  checks:
    uses: ./.github/workflows/npm-package-checks.yml
    secrets:
      FONTAWESOME_REGISTRY_AUTH_TOKEN: ${{ secrets.FONTAWESOME_REGISTRY_AUTH_TOKEN }}

  bump:
    uses: ./.github/workflows/npm-package-bump.yml
    needs: checks
    secrets:
      GH_DEPLOY_TOKEN: ${{ secrets.GH_DEPLOY_TOKEN }}
    with:
      config_file: ${{ inputs.release_please_config_file }}
      manifest_file: ${{ inputs.release_please_manifest_file }}
      target_branch: ${{ inputs.release_please_target_branch }}

  publish:
    needs: bump
    if: ${{ needs.bump.outputs.release_created }}
    uses: ./.github/workflows/npm-package-publish.yml
    secrets:
      NPM_ORG_OGS_GMBH_CI: ${{ secrets.NPM_ORG_OGS_GMBH_CI }}
      GH_DEPLOY_TOKEN: ${{ secrets.GH_DEPLOY_TOKEN }}
      FONTAWESOME_REGISTRY_AUTH_TOKEN: ${{ secrets.FONTAWESOME_REGISTRY_AUTH_TOKEN }}

  ms-teams:
    needs: publish
    if: ${{ always() }}
    uses: ./.github/workflows/ms-teams-notify.yml
    secrets:
      GH_DEPLOY_TOKEN: ${{ secrets.GH_DEPLOY_TOKEN }}
      MS_TEAMS_URL: ${{ secrets.MS_TEAMS_URL }}
    with:
      title: success() && "Deployment successful" || "Deployment failed"
      status: success() && "success" || "failure"
