name: npm package PR checks

on:
  workflow_call:
    secrets:
      FONTAWESOME_REGISTRY_AUTH_TOKEN:
        required: false

jobs:
  check_lint:
    uses: ./.github/workflows/npm-package-pr-lint.yml
    secrets:
      FONTAWESOME_REGISTRY_AUTH_TOKEN: ${{ secrets.FONTAWESOME_REGISTRY_AUTH_TOKEN }}

  check_commits:
    uses: ./.github/workflows/npm-package-pr-commits.yml
    secrets:
      FONTAWESOME_REGISTRY_AUTH_TOKEN: ${{ secrets.FONTAWESOME_REGISTRY_AUTH_TOKEN }}
