name: npm Package Checks

on:
  workflow_call:
    secrets:
      FONTAWESOME_REGISTRY_AUTH_TOKEN:
        required: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
          run_install: false

      - name: Setup pnpm cache dir
        run: |
          PNPM_STORE_PATH="$( pnpm store path --silent )"
          if [ ! -d "$PNPM_STORE_PATH" ]; then
            mkdir -p "$PNPM_STORE_PATH"
          fi

      - name: Setup Node.js
        if: ${{ hashFiles('pnpm-lock.yaml') != '' }}
        uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: "lts/*"
          cache: "pnpm"
      
      - name: Setup Node.js
        if: ${{ hashFiles('pnpm-lock.yaml') == '' }}
        uses: actions/setup-node@v4
        with:
          registry-url: "https://registry.npmjs.org"
          node-version: "lts/*"

      - name: Prepare Font Awesome Registry
        env:
          FONTAWESOME_REGISTRY_AUTH_TOKEN: ${{ secrets.FONTAWESOME_REGISTRY_AUTH_TOKEN }}
        if: ${{ env.FONTAWESOME_REGISTRY_AUTH_TOKEN != '' && hashFiles('pnpm-lock.yaml') != '' }}
        run: |
          echo "@fortawesome:registry = https://npm.fontawesome.com/" >> .npmrc
          echo "//npm.fontawesome.com/:_authToken=${{ secrets.FONTAWESOME_REGISTRY_AUTH_TOKEN }}" >> .npmrc

      - name: Install Dependencies
        if: ${{ hashFiles('pnpm-lock.yaml') != '' }}
        run: pnpm install --frozen-lockfile

      - name: Run pre-Build-specific scripts
        run: pnpm run --if-present "/^ci:build:pre:.*/"

      - name: Run Build
        run: pnpm run --if-present "/^ci:build:main:.*/"

      - name: Run post-Build-specific scripts
        run: pnpm run --if-present "/^ci:build:post:.*/"
